/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/**********************************************************************/
/*iShadeed Blog*/
/**********************************************************************/

@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: normal;
}


@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: bold;
}

@font-face 
{
    font-family: "HelveticaNeue";
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.eot");
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.woff") format("woff"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.ttf") format("truetype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face 
{
    font-family: "HelveticaNeue";
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.eot");
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.woff") format("woff"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.ttf") format("truetype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 400;
}

body 
{
	background-color: #e4e4e4;
	font-family: "HelveticaNeue";
}

.menu
{
	height: 75px;
	background-color: white;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.arabic
{
	text-decoration: none;
	color: #343434;
	font-size: 18px;
	font-family: "HelveticaNeue";
	font-weight: 100;
	font-style: normal;
}

.clear
{
	clear: both;
}

.logo
{
	float: right;
	width:154px;
	height: 22px;
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-right: 14px;
	margin-top: 22px;
}

.menu ul li
{
	display: inline;
	padding-left: 19px;
}

.portfolio
{
	margin-top: 10px;
}

.blogs
{
	margin-top: 10px;
}

.portfolio-tab
{
	border-bottom: 4px solid #5187c4;
    padding-bottom: 9px;
    margin-left: 25px;
}

.blog-tab
{
	padding-bottom: 9px;
}

.main ul 
{
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 15px;
}

.menu ul
{
	font-size: 16px;
	font-family: "HelveticaNeue";
	font-weight: 100;
	padding-top: 26px;
	float: right;
	margin-right: 20px;
}

.menu ul li a
{
	text-decoration: none;
	color: #343434;
	padding: 6px 14px 8px 14px;
}

.menu .active
{

	font-weight: bold;
    color: #5187c4;
    border-bottom: 2px solid;
}

.menu ul li a:hover
{
	padding: 6px 14px 8px 14px;
    color: #5187c4;
    border-bottom: 2px solid;
	transition: border-bottom 0.3s;
	-webkit-transition: border-bottom 0.3s;
}

/* ---- */
.side 
{
	width: 320px;
	float: left;
	position: relative;
	bottom: 45px;
}

.side .bio
{
	min-height: 375px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.bio-meta
{
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 15px;
}

.hide
{
	float: left;
	margin-top:20px;
	margin-left: 30%;
}

.hide i
{
	float: left;
	margin-top: 3px;
	margin-right: 3px;
}

.bio a 
{
	text-decoration: none;
	color: #ababab;
	font-size: 22px;
	
	font-weight: 100;
}

.bio a:hover
{
	color: #5187c4;
}

.bdesh
{
	display: none;
	z-index: 50;
	background-color: #5187c4;
    width: 26.5%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;	
	opacity: 0.95;
}

.bdesh h3 
{
	font-family: Roboto;
	font-weight: lighter;
	color: #fff;
	text-align: center;
	margin-top: 65px;
	margin-left: 80px;
	font-size: 25px;
	width: 150px;
	line-height: 1.4;
}

.side .fb-plugin
{
	min-height: 330px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.side .twitter-widget
{
	min-height: 450px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.fb-like-box
{
	margin-left: 12px;
	margin-top: 15px;
}

.side .social
{
	min-height: 360px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.main 
{
	min-height: auto;
	/*margin-left: 340px;*/
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.social h1
{
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #5187c4;
	padding-top: 20px;
	padding-left: 15px;
}

.social ul li a
{
	padding: 40px 40px;
	display: block;
	margin: 1px;
	float: left;
	color: white;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	font-size: 14px;
	text-align: center;
}

.social ul li a:hover
{
	opacity: 0.85;
	cursor: pointer;
}

.social i 
{
	font-size: 30px;
	margin-right: 15px;
}

.social span 
{
	padding-top: 7px;
}

.social .facebook
{
	background-color: #3b5998;
}

.social .twitter
{
	background-color: #70a4cc;
}

.social .behance
{
	background-color: #1769ff;
}

.social .instagram
{
	background-color: #3f729b;
}

.social ul 
{
	margin-top: 25px;
	margin-left: 10px;
}

.social ul li a
{
	width: 45%;
}

.main 
{
	min-height: 1100px;
	/*margin-left: 340px;*/
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.bio .shadeed
{
	z-index: 10;
	background: url(../images/ahmad.png) no-repeat;
	background-size: cover;
	width: 93.5%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-right: 3%;
}

.bio h1
{
	font-weight: bold;
	font-size: 22px;
	color: #cb404a;
	padding-top: 220px;
	padding-left: 15px;
}

.bio .name
{
	font-family: "HelveticaNeue";
	font-weight: bold;
	font-size: 22px;
	color: #5187c4;
	padding-top: 220px;
	padding-right: 3.2%;
}

.bio p
{
	font-family: "HelveticaNeue";
	font-weight: lighter;
	font-size: 14px;
	padding-top: 12px;
	padding-right: 3.2%;
	line-height: 20px;
	color: #343434;
}

.social h1
{
	font-family: "HelveticaNeue";
	font-weight: bold;
	font-size: 18px;
	color: #5187c4;
	padding-top: 20px;
	padding-right: 15px;
}

.social ul li a
{
	padding: 40px 40px;
	display: block;
	margin: 1px;
	float: right;
	color: white;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	font-size: 14px;
	text-align: center;
}

.social ul li a:hover
{
	opacity: 0.85;
	cursor: pointer;
}

.social i 
{
	font-size: 30px;
	margin-right: 15px;
}

.social span 
{
	padding-top: 7px;
}

.social .facebook
{
	background-color: #3b5998;
}

.social .twitter
{
	background-color: #70a4cc;
}

.social .behance
{
	background-color: #1769ff;
}

.social .instagram
{
	background-color: #3f729b;
}

.social ul 
{
	margin-top: 25px;
	margin-right: 10px;
}

.social ul li a
{
	width: 45%;
}

.title
{
	font-family: "HelveticaNeue";
	font-weight: normal;
	font-size: 22px;
	color: #484848;
	float: right;
	margin-top: 25px;
}


.about 
{
	min-height: 445px;
	background-color: white;
	box-shadow: 0px 2px 0px #c9c9c9;
	margin-top: 25px;
	position: relative;
}

.paper
{
	width: 95%;
	float: right;
	margin-right: 14px;
	z-index: 1;
}

.v-line
{
	width: 1px;
	height: 405px;
	border-left: 1px solid #ef7995;
	border-right: 1px solid #ef7995;
	position: absolute;
	margin-right: 30px;
	margin-top: 10px;
	z-index: 200;
}

.about .text 
{
	position: absolute;
	margin-right: 45px;
	color: #343434;
	font-family: "HelveticaNeue";
	font-weight: lighter;
	line-height: 47px;
	margin-top: 11px;
	z-index: 100;
}

.text p 
{
	width: 90%;
}

.text span 
{
	font-family: "HelveticaNeue";
	font-weight: normal;
	color: #5187c4;
}

.h-line
{
	height: 1px;
	background-color: #e8e8e8;
	margin-top: 44px;
}
