/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************************/
/*iShadeed Blog*/
/**********************************************************************/

@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: normal;
}


@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: bold;
}

body 
{
	background-color: #e4e4e4;
}

.wrapper
{
	width:1000px;
	margin: auto;
	margin-top: 40px;
	height:850px;
}

.menu
{
	height: 75px;
	background-color: white;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.arabic
{
	text-decoration: none;
	color: #343434;
	float: right;
	margin-right: 25px;
	font-size: 18px;
}

.arabic:hover 
{
	opacity: 0.75;
}

.clear
{
	clear: both;
}

footer
{
	margin-top: 25px;
	height: 75px;
	background-color: white;
	box-shadow: 0px 2px 0px #c9c9c9;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	text-align: center;
}

footer p 
{
	padding-top: 28px;
	color: #343434;
}

.logo
{
	float: left;
	width:154px;
	height: 22px;
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left: 14px;
	margin-top: 22px;
}

.menu ul li
{
	display: inline;
	padding-left: 19px;
}

.menu ul
{
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	padding-top: 26px;
}

.menu ul li a
{
	text-decoration: none;
	color: #343434;
	padding: 6px 14px 8px 14px;
}

.menu .active
{

	background-color: #5187c4;
	padding: 6px 14px 8px 14px;
	color: white;
	border-bottom: 2px solid rgb(80, 110, 155);
}

.menu ul li a:hover
{
	background-color: #ededed;
	padding: 6px 14px 8px 14px;
	border-bottom: 2px solid #a0a0a0;
	transition: background-color 0.5s;
	transition: border-bottom 0.3s;
	-webkit-transition: background-color 0.5s;
	-webkit-transition: border-bottom 0.3s;
}

.side 
{
	width: 320px;
	float: left;
}

.side .bio
{
	min-height: 220px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.side .social
{
	min-height: 360px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.about 
{
	min-height: 445px;
	width: 660px;
	margin-left: 340px;
	background-color: white;
	margin-top: 65px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.paper
{
	float: left;
	position: absolute;
	margin-left: 14px;
	z-index: 1;
}

.v-line
{
	width: 1px;
	height: 405px;
	border-left: 1px solid #ef7995;
	border-right: 1px solid #ef7995;
	position: absolute;
	margin-left: 30px;
	margin-top: 10px;
	z-index: 200;
}

.text 
{
	position: absolute;
	width: 580px;
	margin-left: 45px;
	color: #343434;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	line-height: 46px;
	margin-top: 11px;
	z-index: 100;
}

.text span 
{
	color: #5187c4;
	font-family: Roboto-bold;
}

.h-line
{
	height: 1px;
	width: 630px;
	background-color: #e8e8e8;
	margin-top: 44px;

}

.title
{
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #484848;
	float: left;
	margin-left: 19px;
	margin-top: 25px;
}

.bio .shadeed
{
	background: url(../images/ahmad.png);
	background-repeat: no-repeat;
	width: 287px;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
}

.social h1
{
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #5187c4;
	padding-top: 20px;
	padding-left: 15px;
}

.social ul li a
{
	padding: 40px 40px;
	display: block;
	margin: 1px;
	float: left;
	color: white;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	font-size: 14px;
	text-align: center;
}

.social ul li a:hover
{
	opacity: 0.85;
	cursor: pointer;
}

.social i 
{
	font-size: 30px;
	margin-right: 15px;
}

.social span 
{
	padding-top: 7px;
}

.social .facebook
{
	background-color: #3b5998;
}

.social .twitter
{
	background-color: #70a4cc;
}

.social .behance
{
	background-color: #1769ff;
}

.social .instagram
{
	background-color: #3f729b;
}

.social ul 
{
	margin-top: 25px;
	margin-left: 10px;
}

.social ul li a
{
	width: 21%;
}














