/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************************/
/*iShadeed Blog*/
/**********************************************************************/

body 
{
	background-color: #e4e4e4;
}

.wrapper
{
	width:1000px;
	margin: auto;
	margin-top: 40px;
	height:860px;
}

.menu
{
	height: 75px;
	background-color: white;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.clear
{
	clear: both;
}

.logo
{
	float: left;
	width:154px;
	height: 22px;
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-left: 14px;
	margin-top: 22px;
}

.menu ul li
{
	display: inline;
	padding-left: 19px;
}

.menu ul
{
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	padding-top: 26px;
}

.menu ul li a
{
	text-decoration: none;
	color: #343434;
	padding: 6px 14px 8px 14px;
}

.menu .active
{
	font-weight: bold;
    color: #5187c4;
    border-bottom: 2px solid;
}

.menu ul li a:hover
{
	padding: 6px 14px 8px 14px;
    color: #5187c4;
    border-bottom: 2px solid;
	transition: border-bottom 0.3s;
	-webkit-transition: border-bottom 0.3s;
}

.side 
{
	width: 320px;
	float: left;
}

.side .bio
{
	min-height: 375px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.bdesh
{
	display: none;
	z-index: 50;
	background-color: #5187c4;
    width: 26.5%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;	
	opacity: 0.95;
}

.bdesh h3 
{
	font-family: Roboto;
	font-weight: lighter;
	color: #fff;
	text-align: center;
	margin-top: 65px;
	margin-left: 80px;
	font-size: 25px;
	width: 150px;
	line-height: 1.4;
}

.bio-meta
{
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 15px;
}

.hide
{
	float: left;
	margin-top:20px;
	margin-left: 30%;
}

.hide i
{
	float: left;
	margin-top: 3px;
	margin-right: 3px;
}

.side .social
{
	min-height: 360px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.contact 
{
	float: left;
	min-height: 600px;
	background-color: white;
	margin-top: 15px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.text 
{
	width: 85%;
	margin-left: 20px;
	color: #343434;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	line-height: 30px;
	margin-top: 10px;
	z-index: 100;
	float: left;
}

.contact form
{
	margin-left: 20px;
	float: left;
}

form label
{
	display: block;
	font-size: 16px;
	color: #818181;
	font-family: 'Roboto',sans-serif;
	font-weight: normal;
	margin-top: 20px;
}

form input[type="text"],input[type="email"]
{
	font-family: 'Roboto',sans-serif;
	font-weight: lighter;
	height: 35px;
	outline: none;
	font-size: 16px;
	color: #9f9f9f;
	/*border: 2px solid #d5d5d5;*/
	box-shadow: 0px 2px 0px #d5d5d5;
	border: none;
	margin-top: 7px;
	padding-left: 8px;
	padding-right: 8px;
	width: 50%;
	transition:width 0.75s;
}

form input[type="text"]:focus
{
	border: 2px solid #5187c4;
	box-shadow: 0px 2px 0px #5187c4;
	width: 70%;
	transition:width 0.5s;
}

form input[type="email"]:focus
{
	border: 2px solid #5187c4;
	box-shadow: 0px 2px 0px #5187c4;
	width: 70%;
	transition:width 0.5s;
}

.labelfocus { 
	color:#5187c4; 
}

form textarea
{
	font-family: 'Roboto',sans-serif;
	font-weight: lighter;
	outline: none;
	font-size: 16px;
	color: #9f9f9f;
	/*border: 2px solid #d5d5d5;*/
	box-shadow: 0px 2px 0px #d5d5d5;
	border: none;
	margin-top: 7px;
	padding-left: 8px;
	padding-right: 8px;
	width: 80%;
	transition:width 0.75s;
}

form textarea:focus
{
	border: 2px solid #5187c4;
	box-shadow: 0px 2px 0px #5187c4;
	width: 100%;
	transition:width 0.75s;
}

form input[type="submit"]
{
	display: block;
	font-family: 'Roboto',sans-serif;
	font-weight: lighter;
	font-size: 16px;
	color: #fff;
	outline: none;
	height: 35px;
	background-color: #5187c4;
	margin-left: 3px;
	margin-top: 15px;	
	border: none;
	padding-left: 35px;
	padding-right: 35px;
	transition: background-color;
}

form input[type="submit"]:hover
{
	cursor: pointer;
	background-color: #416d9f;
	transition: background-color 0.5s;
}


.title
{
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	font-size: 22px;
	color: #484848;
	float: left;
	margin-left: 19px;
	margin-top: 25px;
}

.bio .shadeed
{
	background: url(../images/ahmad.png);
	background-repeat: no-repeat;
	width: 287px;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;
}


.bio p
{
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	font-size: 14px;
	padding-top: 12px;
	padding-right: 15px;	
	padding-left: 15px;	
	line-height: 20px;
	color: #343434;
}


.social h1
{
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #5187c4;
	padding-top: 20px;
	padding-left: 15px;
}

.social ul li a
{
	padding: 40px 40px;
	display: block;
	margin: 1px;
	float: left;
	color: white;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	font-size: 14px;
	text-align: center;
}

.social ul li a:hover
{
	opacity: 0.85;
	cursor: pointer;
}

.social i 
{
	font-size: 30px;
	margin-right: 15px;
}

.social span 
{
	padding-top: 7px;
}

.social .facebook
{
	background-color: #3b5998;
}

.social .twitter
{
	background-color: #70a4cc;
}

.social .behance
{
	background-color: #1769ff;
}

.social .instagram
{
	background-color: #3f729b;
}

.social ul 
{
	margin-top: 25px;
	margin-left: 10px;
}

.social ul li a
{
	width: 45%;
}














