/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/**********************************************************************/
/*iShadeed Blog*/
/**********************************************************************/

@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: normal;
}


@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: bold;
}

@font-face 
{
    font-family: "HelveticaNeue";
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.eot");
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.woff") format("woff"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.ttf") format("truetype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face 
{
    font-family: "HelveticaNeue";
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.eot");
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.woff") format("woff"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.ttf") format("truetype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 400;
}

body 
{
	background-color: #e4e4e4;
	font-family: "HelveticaNeue";
}

.menu
{
	height: 75px;
	background-color: white;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.arabic
{
	text-decoration: none;
	color: #343434;
	font-size: 18px;
	font-family: "HelveticaNeue";
	font-weight: 100;
	font-style: normal;
}

.clear
{
	clear: both;
}

.logo
{
	float: right;
	width:154px;
	height: 22px;
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-right: 14px;
	margin-top: 22px;
}

.menu ul li
{
	display: inline;
	padding-left: 19px;
}

.menu ul
{
	font-size: 16px;
	font-family: "HelveticaNeue";
	font-weight: 100;
	padding-top: 26px;
	float: right;
	margin-right: 20px;
}

.menu ul li a
{
	text-decoration: none;
	color: #343434;
	padding: 6px 14px 8px 14px;
}

.menu .active
{

	font-weight: bold;
    color: #5187c4;
    border-bottom: 2px solid;
}

.menu ul li a:hover
{
	padding: 6px 14px 8px 14px;
    color: #5187c4;
    border-bottom: 2px solid;
	transition: border-bottom 0.3s;
	-webkit-transition: border-bottom 0.3s;
}


/* bio */

.container .column
{
	float: right;
}

.bio 
{
	min-height: 320px;
	background-color: #fff;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.bio h1
{
	font-family: "HelveticaNeue";
	font-weight: bold;
	font-size: 22px;
	color: #cb404a;
	padding-top: 220px;
	padding-right: 3%;
}

.bio .shadeed
{
	background: url(../images/ahmad.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 27%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-right: 1%;
}

.bio p
{
	font-family: "HelveticaNeue";
	font-weight: lighter;
	font-size: 14px;
	padding-top: 12px;
	padding-right: 3%;	
	line-height: 20px;
	color: #343434;
}

.bdesh h3 
{
	font-family: Roboto;
	font-weight: lighter;
	color: #fff;
	text-align: center;
	margin-top: 65px;
	margin-left: 80px;
	font-size: 25px;
	width: 150px;
	line-height: 1.4;
}

.bdesh
{
	z-index: 50;
	background-color: #cb404a;
    width: 27%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-right: 1%;	
	opacity: 0.65;
	transition: opacity 0.25s;
}

.bdesh h3 
{
	font-family: "HelveticaNeue";
	font-weight: lighter;
	color: #fff;
	text-align: center;
	margin-top: 65px;
	margin-right: 93px;
	font-size: 25px;
	width: 140px;
	line-height: 1.4;
}

.bdesh i
{
	float: right;
	margin-top: 40px;
	margin-right: 155px;
	color: #fff;
}

.bio a:hover .bdesh
{
	opacity: 1;
}

/*---------------------summary-----------------------*/

.summary 
{
	float: right;
	min-height: 320px;
	width: 320px;
	margin-right: 20px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.summary p
{
	float: left;
	font-family: HelveticaNeue;
	font-weight: lighter;
	color: #6f6f6f;
	font-size: 17px;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 20px;
	line-height: 2;
}

.summary span
{
	font-family: HelveticaNeue;
	font-weight: normal;
	color: #5187c4;
}

.summary .top
{
	width: 100%;
	float: right;
	margin-top: 15px;
	border-bottom: 1px solid #cfcfcf;
	z-index: 100;
}

.summary .top h1 
{
	z-index: 200;
	float: right;
	font-family: HelveticaNeue;
	font-weight: normal;
	color:#5187c4;
	font-size: 22px;
	margin-right: 15px;
	margin-top: 3px;
	border-bottom: 4px solid #5187c4;
	padding-bottom: 13px;
}

/*----------------------------------*/

.education 
{
	float: right;
	min-height: 320px;
	width: 320px;
	margin-right: 20px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.education .top
{
	width: 100%;
	float: right;
	margin-top: 15px;
	border-bottom: 1px solid #cfcfcf;
	z-index: 100;
}

.education .top h1 
{
	z-index: 200;
	float: right;
	font-family: HelveticaNeue;
	font-weight: normal;
	color:#84c451;
	font-size: 22px;
	margin-right: 15px;
	margin-top: 3px;
	border-bottom: 4px solid #84c451;
	padding-bottom: 13px;
}

.edu
{
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	line-height: 1.35
}

.edu h1 
{
	font-family: HelveticaNeue;
	font-weight: normal;
	font-size: 16px;
	color: #84c451;
}

.edu h2
{
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 16px;
	color: #6f6f6f;
}

.edu h3
{
	font-family: Roboto;
	font-weight: lighter;
	font-size: 16px;
	color: #6f6f6f;
}

/*-------------experience-------------*/

.experience 
{
	float: left;
	min-height: 320px;
	width: 320px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.experience .top
{
	width: 100%;
	float: right;
	margin-top: 15px;
	border-bottom: 1px solid #cfcfcf;
	z-index: 100;
}

.experience .top h1 
{
	z-index: 200;
	float: right;
	font-family: HelveticaNeue;
	font-weight: lighter;
	color:#cb404a;
	font-size: 22px;
	margin-right: 15px;
	margin-top: 3px;
	border-bottom: 4px solid #cb404a;
	padding-bottom: 13px;
}

.exp
{
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	line-height: 1.35;
	width:100%;
}

.exp h1 
{
	font-family: HelveticaNeue;
	font-weight: normal;
	font-size: 16px;
	color: #cb404a;
}

.exp h2
{
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 16px;
	color: #6f6f6f;
}

.exp h3
{
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 16px;
	color: #6f6f6f;
}

/*-------------skills-------------*/

.skills
{
	float: right;
	min-height: 320px;
	width: 320px;
	margin-right: 20px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.skills .top
{
	width: 100%;
	float: left;
	margin-top: 15px;
	border-bottom: 1px solid #cfcfcf;
	z-index: 100;
}

.skills .top h1 
{
	z-index: 200;
	float: right;
	font-family: HelveticaNeue;
	font-weight: normal;
	color:#cb8b40;
	font-size: 22px;
	margin-right: 15px;
	margin-top: 3px;
	border-bottom: 4px solid #cb8b40;
	padding-bottom: 13px;
}

.skills .sk-list
{
	float: right;
	margin-right: 15px;
	margin-top: 15px;
}

.colored 
{
	position: relative;
	float: right;
	height: 32px;
	/* width: 270px; This is the maximum value.. */
	padding: 5px;
	margin-bottom: 1px;
	z-index: 500;
}

.ui
{
	width: 230px;
}

.ux
{
	width: 200px;
}

.ps
{
	width: 220px;
}

.web
{
	width: 120px;
}

.mobile
{
	width: 180px;
}

.php
{
	width: 80px;
}

.mysql
{
	width: 70px;
}

.grey 
{
	z-index: 10;
	height: 32px;
	width: 320px;
	padding: 5px;
	background-color: #eaeaea;
	margin-bottom: 1px;
}

.sk:nth-child(even) .colored
{
	border-right: 4px solid #699C40;
	background-color: #84c451;
}

.sk:nth-child(odd) .colored
{
	border-right: 4px solid #356192;
	background-color: #5187c4;
}

.sk span
{
	float: right;
	margin-top: 3px;
	margin-left: 3px;
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 15px;
	color: #fff;
}

/*-------------quote1-------------*/

.quote
{
	float: right;
	min-height: 320px;
	width: 320px;
	margin-right: 20px;
	background-color: #5187c4;
	margin-top: 25px;
}

.quote blockquote
{
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 25px;
	color: #fff;
	width: 310px;
	line-height: 1.5;
	padding-right: 45px;
	padding-top:30px;
	text-align: center;
}

.quote span
{
	display: block;
	font-size: 14px;
}

blockquote i
{
	display: block;
	margin-right: 20px;

}

.quote .bottom
{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	/* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
	-ms-transform:rotate(180deg); 
	margin-left: 50px;
}

.quote2 .bottom
{
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	/* filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=1.5); */
	-ms-transform:rotate(180deg); 
	margin-left: 36px;
}


.share a 
{
	text-decoration: none;
	opacity: 0.65;
	transition: opacity 0.25s;
}

.share a:hover
{
	opacity: 1;
}

.share span
{
	float: left;
	font-family: Roboto;
	font-size: 16px;
	color: #fff;
	margin-left: 60px;
	opacity: 0.65;
}

.quote .share
{
	margin-top: 55px;
	width: 100%;
	border-top: 1px solid #73A4DB;
	padding-top: 12px;
}

.quote2 .share
{
	margin-top: 60px;
	width: 100%;
	border-top: 1px solid #A6D87F;
	padding-top: 12px;
}

.share i
{
	color: #fff;
}

.share-item
{
	float: left;
}

.share-meta
{
	margin-left: 55px;
	margin-top: 5px;
}

/*-------------quote2-------------*/

.quote2
{
	float: left;
	min-height: 320px;
	width: 320px;
	background-color: #84c451;
	margin-top: 25px;
}

.quote2 blockquote
{
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 25px;
	color: #fff;
	width: 250px;
	width: 310px;
	line-height: 1.5;
	padding-right: 45px;
	padding-top:30px;
	text-align: center;
}

.quote2 blockquote span
{
	display: block;
	font-size: 14px;
}

.quote2 blockquote i
{
	display: block;
	margin-right: 20px;
}

/*-------------experience-------------*/

.languages 
{
	float: left;
	min-height: 320px;
	width: 320px;
	background-color: white;
	margin-right: 20px;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.languages .top
{
	width: 100%;
	float: right;
	margin-top: 15px;
	border-bottom: 1px solid #cfcfcf;
	z-index: 100;
}

.languages .top h1 
{
	z-index: 200;
	float: right;
	font-family: HelveticaNeue;
	font-weight: normal;
	color:#bd73e8;
	font-size: 22px;
	margin-right: 15px;
	margin-top: 3px;
	border-bottom: 4px solid #bd73e8;
	padding-bottom: 13px;
}

.lang
{
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	line-height: 1.35;
	width: 100%;
}

.lang h1 
{
	font-family: HelveticaNeue;
	font-weight: normal;
	font-size: 16px;
	color: #bd73e8;
}

.lang h2
{
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 16px;
	color: #6f6f6f;
}

/*-------------ref-------------*/

.references 
{
	float: left;
	min-height: 320px;
	width: 320px;
	background-color: white;
	margin-right: 20px;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.references .top
{
	width: 100%;
	float: left;
	margin-top: 15px;
	border-bottom: 1px solid #cfcfcf;
	z-index: 100;
}

.references .top h1 
{
	z-index: 200;
	float: right;
	font-family: HelveticaNeue;
	font-weight: normal;
	color:#5d5d5d;
	font-size: 22px;
	margin-right: 15px;
	margin-top: 3px;
	border-bottom: 4px solid #5d5d5d;
	padding-bottom: 13px;
}

.ref
{
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	line-height: 1.35;
}

.ref h1 
{
	font-family: HelveticaNeue;
	font-weight: normal;
	font-size: 16px;
	color: #5d5d5d;
}

.ref h2,h3
{
	font-family: HelveticaNeue;
	font-weight: lighter;
	font-size: 16px;
	color: #6f6f6f;
}

.ref h3 
{
	float: right;
}

.ref i
{
	float: right;
}

.email
{
	float: right;
}
