/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************************************/
/*iShadeed Blog*/
/**********************************************************************/

@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: normal;
}


@font-face
{
	font-family: Roboto, sans-serif;
    font-weight: bold;
}

@font-face 
{
    font-family: "HelveticaNeue";
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.eot");
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.woff") format("woff"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.ttf") format("truetype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Reg.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face 
{
    font-family: "HelveticaNeue";
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.eot");
    src: url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.eot?#iefix") format("embedded-opentype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.woff") format("woff"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.ttf") format("truetype"), url("../fonts/arabic/HelveticaNeueW23forSKY-Bd.svg#HelveticaNeueLTArabic55Roman") format("svg");
    font-weight: 400;
}

body 
{
	background-color: #e4e4e4;
	font-family: "HelveticaNeue";
}

.menu
{
	height: 75px;
	background-color: white;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.arabic
{
	text-decoration: none;
	color: #343434;
	font-size: 18px;
	font-family: "HelveticaNeue";
	font-weight: 100;
	font-style: normal;
}

.clear
{
	clear: both;
}

.logo
{
	float: right;
	width:154px;
	height: 22px;
	background: url(../images/logo.png);
	background-repeat: no-repeat;
	margin-right: 14px;
	margin-top: 22px;
}

.menu ul li
{
	display: inline;
	padding-left: 19px;
}

.portfolio
{
	margin-top: 10px;
}

.blogs
{
	margin-top: 10px;
}

.portfolio-tab
{
	border-bottom: 4px solid #5187c4;
    padding-bottom: 9px;
    margin-left: 25px;
}

.blog-tab
{
	padding-bottom: 9px;
}

.main ul 
{
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 15px;
}

.menu ul
{
	font-size: 16px;
	font-family: "HelveticaNeue";
	font-weight: 100;
	padding-top: 26px;
	float: right;
	margin-right: 20px;
}

.menu ul li a
{
	text-decoration: none;
	color: #343434;
	padding: 6px 14px 8px 14px;
}

.menu .active
{

	font-weight: bold;
    color: #5187c4;
    border-bottom: 2px solid;
}

.menu ul li a:hover
{
	padding: 6px 14px 8px 14px;
    color: #5187c4;
    border-bottom: 2px solid;
	transition: border-bottom 0.3s;
	-webkit-transition: border-bottom 0.3s;
}

/* ---- */
.side 
{
	width: 320px;
	float: left;
}

.side .bio
{
	min-height: 375px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.bio-meta
{
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 15px;
}

.hide
{
	float: left;
	margin-top:20px;
	margin-left: 30%;
}

.hide i
{
	float: left;
	margin-top: 3px;
	margin-right: 3px;
}

.bio a 
{
	text-decoration: none;
	color: #ababab;
	font-size: 22px;
	
	font-weight: 100;
}

.bio a:hover
{
	color: #5187c4;
}

.bdesh
{
	display: none;
	z-index: 50;
	background-color: #5187c4;
    width: 26.5%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;	
	opacity: 0.95;
}

.bdesh h3 
{
	font-family: Roboto;
	font-weight: lighter;
	color: #fff;
	text-align: center;
	margin-top: 65px;
	margin-left: 80px;
	font-size: 25px;
	width: 150px;
	line-height: 1.4;
}

.side .fb-plugin
{
	min-height: 330px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.side .twitter-widget
{
	min-height: 450px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.fb-like-box
{
	margin-left: 12px;
	margin-top: 15px;
}

.side .social
{
	min-height: 360px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.main 
{
	min-height: auto;
	/*margin-left: 340px;*/
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.social h1
{
	font-family: 'Roboto',sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #5187c4;
	padding-top: 20px;
	padding-left: 15px;
}

.social ul li a
{
	padding: 40px 40px;
	display: block;
	margin: 1px;
	float: left;
	color: white;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	font-size: 14px;
	text-align: center;
}

.social ul li a:hover
{
	opacity: 0.85;
	cursor: pointer;
}

.social i 
{
	font-size: 30px;
	margin-right: 15px;
}

.social span 
{
	padding-top: 7px;
}

.social .facebook
{
	background-color: #3b5998;
}

.social .twitter
{
	background-color: #70a4cc;
}

.social .behance
{
	background-color: #1769ff;
}

.social .instagram
{
	background-color: #3f729b;
}

.social ul 
{
	margin-top: 25px;
	margin-left: 10px;
}

.social ul li a
{
	width: 45%;
}
/* ---- */


/*
.side 
{
	width: 320px;
	float: left;
}

.side .bio
{
	min-height: 375px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.bio-meta
{
	border-bottom: 1px solid #cfcfcf;
	padding-bottom: 15px;
}

.hide
{
	float: left;
	margin-top:20px;
	margin-left: 30%;
}

.hide i
{
	float: left;
	margin-top: 3px;
	margin-right: 3px;
}

.bio a 
{
	text-decoration: none;
	color: #ababab;
	font-family: Roboto;
	font-weight: normal;
	font-size: 20px;
}

.bio a:hover
{
	color: #5187c4;
}

.bdesh
{
	display: none;
	z-index: 50;
	background-color: #5187c4;
    width: 26.5%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-left: 15px;	
	opacity: 0.95;
}

.bdesh h3 
{
	font-family: Roboto;
	font-weight: lighter;
	color: #fff;
	text-align: center;
	margin-top: 65px;
	margin-left: 80px;
	font-size: 25px;
	width: 150px;
	line-height: 1.4;
}

.side .fb-plugin
{
	min-height: 330px;
	background-color: blue;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.side .twitter-widget
{
	min-height: 450px;
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

.fb-like-box
{
	margin-left: 12px;
	margin-top: 15px;
}*/



.main 
{
	min-height: 1100px;
	/*margin-left: 340px;*/
	background-color: white;
	margin-top: 25px;
	box-shadow: 0px 2px 0px #c9c9c9;
}

/* bio.shadeed */

.bio .shadeed
{
	z-index: 10;
	background: url(../images/ahmad.png) no-repeat;
	background-size: cover;
	width: 26.5%;
	height: 190px;
	position: absolute;
	margin-top: 15px;
	margin-right: 1.2%;
}

.bio h1
{
	font-weight: bold;
	font-size: 22px;
	color: #cb404a;
	padding-top: 220px;
	padding-left: 15px;
}

.bio .name
{
	font-family: "HelveticaNeue";
	font-weight: bold;
	font-size: 22px;
	color: #5187c4;
	padding-top: 220px;
	padding-right: 3.2%;
}

.bio p
{
	font-family: "HelveticaNeue";
	font-weight: lighter;
	font-size: 14px;
	padding-top: 12px;
	padding-right: 3.2%;
	line-height: 20px;
	color: #343434;
}

.social h1
{
	font-family: "HelveticaNeue";
	font-weight: bold;
	font-size: 18px;
	color: #5187c4;
	padding-top: 20px;
	padding-right: 15px;
}

.social ul li a
{
	padding: 40px 40px;
	display: block;
	margin: 1px;
	float: right;
	color: white;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: regular;
	font-size: 14px;
	text-align: center;
}

.social ul li a:hover
{
	opacity: 0.85;
	cursor: pointer;
}

.social i 
{
	font-size: 30px;
	margin-right: 15px;
}

.social span 
{
	padding-top: 7px;
}

.social .facebook
{
	background-color: #3b5998;
}

.social .twitter
{
	background-color: #70a4cc;
}

.social .behance
{
	background-color: #1769ff;
}

.social .instagram
{
	background-color: #3f729b;
}

.social ul 
{
	margin-top: 25px;
	margin-right: 10px;
}

.social ul li a
{
	width: 45%;
}

/* 
The main block
*/

.main ul a 
{
	text-decoration: none;
	font-size: 18px;
	font-family: "HelveticaNeue";
	font-weight: 100;
	color:#b7b7b7;
	font-size: 22px;
}

.tab-active
{
	color: #5187c4;
}

.main ul li
{
	display: inline;
}

.main ul li:nth-child(1)
{
	display: inline;
	padding-right: 25px;
}

.main ul 
{
	padding-top: 20px;
}

.project1
{
	width: 45%;
	height: 315px;
	background-color: #fff;
	margin-right: 25px;
	margin-top: 15px;
	border: 1px solid #e4e4e4;
	float: right;
}

.project1 a
{
	text-decoration: none;
}

.project1:hover
{
	cursor: pointer;
	border: 1px solid #5187c4;
}

.project1:hover .meta h1
{
	color:#5187c4;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

.project1:hover .meta p
{
	color:#5187c4;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

/*---------*/

.project1 .thumbnail
{
	background: url(../images/project1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 190px;
    -webkit-transition: all .5s;
    transition: all .5s;
	opacity: 0.6;
}

.project1:hover .thumbnail
{
	opacity: 1;
	background-size: 120% 120%;
}

.meta h1
{
	font-family: "HelveticaNeue";
	font-weight: bold;
	font-size: 18px;
	color: #676767;
	padding-top: 20px;
	padding-right: 15px;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

.meta p
{
	font-family: "HelveticaNeue";
	font-weight: lighter;
	font-size: 14px;
	padding-top: 12px;
	padding-right: 15px;	
	line-height: 20px;
	color: #343434;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

/*--------------------Modal--------------------*/

.modalDialog {
	position: absolute;
	top:0;
	right: 0;
	left: 0;
	font-family: Roboto, sans-serif;
    font-weight: normal;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	position: relative;
	padding: 5px 20px 13px 20px;
	background: #5187c4;
}

#modalbox
{
	width: 100%;
	height: 100%;
}

/*--------------------------------*/

#project-title
{
	text-align: center;
	font-size: 30px;
	padding-top: 13px;
	color: #fff;
	margin-top: 20px;
}

#modalbox a
{
	margin-left: 1180px;
	text-decoration: none;
	color: #fff;
}

#modalbox i
{
	font-size: 1.5em;
}

#modalDialog label
{
	display: block;
	float: left;
}

.project-image
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

/*---------------------Blogs-----------------------*/

.main a:hover
{
	opacity: 0.8;
}

.article
{
	width: 93%;
	min-height: 400px;
	background-color: #fff;
	margin-left: 25px;
	margin-top: 15px;
	border: 1px solid #e4e4e4;
	float: left;
}

.article .meta
{
	border-bottom: 1px solid #e4e4e4;
	padding-bottom: 15px;
}

.article .thumbnail
{
	background: url(../images/work.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 240px;
    -webkit-transition: all .5s;
    transition: all .5s;
	opacity: 0.8;
}

.article a
{
	text-decoration: none;
}

.article:hover
{
	cursor: pointer;
	border: 1px solid #5187c4;
}

.article:hover .meta
{
	border-bottom: 1px solid #5187c4;
}

.article:hover .meta h1
{
	color:#5187c4;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

.article:hover .meta p
{
	color:#5187c4;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}

.article:hover .thumbnail
{
	opacity: 1;
	background-size: 120% 120%;
}

/*-----------------Bottom section------------------*/

.bottom-section
{
	float: right;
	width: 100%;
	font-family: "HelveticaNeue";
	font-weight: lighter;
	font-size: 14px;
	margin-top: 15px;
}

.bottom-section i 
{
	float: right;
	margin-right: 13px;
	color: #8e8e8e;
}

.date
{
	float: right;
	width: 180px;
}

.bottom-section h2 
{
	color: #8e8e8e;
	float: right;
	margin-left: 15px;
}

.bottom-section a 
{
	color: #8e8e8e;
}

.bottom-section a:hover
{
	color: #5187c4;
}

.time
{
	float: right;
	width: 155px;
}

.comments
{
	float: right;
	width: 133px;
}

.read
{
	float: right;
	width: 114px;
}
